 @import "bootstrap";


 @media (min-width: 1200px) {

  .container {
    width: 1024px;
  }

}


html {
	-webkit-font-smoothing: antialiased;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

}



body
{
    background: #17151E;
  	padding-top:54px;
}

a:hover
{
  text-decoration: none;
  background: transparent;
}

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
       -moz-transition: opacity 500ms ease-in-out;
         -o-transition: opacity 500ms ease-in-out;
            transition: opacity 500ms ease-in-out;
             max-width: 100%;
               opacity: 0;
}
.b-lazy.b-loaded {
               opacity: 1;
}

.navbar-default
{
	background-color: #202028;
	border-left:none;
  border-right:none;
  border-top:none;
	box-shadow: none;
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  -o-transition: all .5s ease-in;
  transition: all .5s ease-in;
  border-bottom:1px solid rgba(0,0,0,.5);

}

.navbar .icon
{
	font-size: 14px;
  margin-right: 7px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.navbar .caret
{
  margin-top: -2px;
}

.navbar-nav > li > a {
  padding-top: 18px;
  padding-bottom: 16px;
  padding-left: 17px;
  padding-right:17px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 13px;

  font-weight: 700;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.2px;
}

.navbar-default .navbar-nav > li > a
{
	color:#fff;
	opacity:0.75;
}

.navbar-default .navbar-nav > li > a:hover
{
	opacity:1;
	color:#fff;
	background-color:rgba(255,255,255,.05);
}

.navbar-default .navbar-nav > li > a:hover .fa-heart
{
  color:#FF3181 !important;
}

.navbar-default .navbar-nav > li > a:hover .fa-video-camera
{
  color:#CE63FF !important;
}


.navbar .label {
  display: inline;
  padding: .2em .6em .2em;
  font-size: 65%;
  font-weight: bold;
  line-height: 1;
  color: white;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  border-radius: .25em;
}



.navbar-brand {
  padding: 16px 16px;
  font-size: 18px;
  line-height: 20px;
  height: 54px;

  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

.nav .small-padding
{
  padding: 17px;
  opacity:1 !important;
}

.nav .small-padding:hover
{
  background:transparent !important;
}

.nav .tag
{
  background-color: #FFA223;
}

.tag
{
  padding:2px 5px 3px;
  display:block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.7em;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 0px;
  text-transform: uppercase;
  border-radius: 3px;
  float:left;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;

}



/* FEATURED IMAGE STYLES */

.video-wrapper
{
  position: relative;
}

.video-image-container
{
  background-repeat: no-repeat;
  background-size: 100%;
  opacity:0;
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index: 1;
}

.featured-content
{
  z-index:2;
  color:#fff;
}

.featured-content .tag
{
  background-color:#FF3181;
  font-size: 12px;
}

/* END */

/* SORTING */

.sorting ul
{
  list-style: none;
  margin:0px;
  padding:0px;
}

.sorting ul li
{
  float:left;
}

.sorting ul li:first-child a
{
  padding-left:0px;
}

.sorting ul li:last-child a
{
  padding-right: 0px;
}

.sorting ul li:last-child
{
  float:right;
}

.sorting ul li a
{
  font-size: 19px;
  color: #FFFFFF;
  line-height: 23px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: normal;
  margin:0px;
  opacity:0.6;
  padding:25px 20px;
  display: block;
  text-decoration: none !important;
}

.active
{
  font-weight: 500 !important;
  opacity:1 !important;
  text-decoration: none !important;
}

.sorting ul li a:hover
{
  opacity:1;
  background:transparent;
}

/* WIDGET STYLES */

.no-padding
{
  padding:0px;
}

.no-margin
{
  margin:0px;
}

.widget
{
  width: 33.10%;
  width: -webkit-calc(99.10% / 3);
  width: calc(99.10% / 3);
  height:200px;
  display:block;
  float:left;
  position: relative;
  background:#000;
  overflow: hidden;
  margin-right:4px;
  margin-bottom:4px;
}

.widget:nth-child(3n + 1)
{
  margin-right:0px;
}

.widget .image
{
  width:100%;
  height:100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.widget:hover .image
{
  opacity:0.3;
}

.widget:hover .caption
{
  opacity:1;
  bottom:0;
}



.widget .img-shadow
{
  background-image: -webkit-linear-gradient(-90deg,rgba(0,0,0,.3) 0,#000 100%);
  background-image: -moz-linear-gradient(-90deg,rgba(0,0,0,.3) 0,#000 100%);
  background-image: linear-gradient(180deg,rgba(0,0,0,.3) 0,#000 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.widget:hover .img-shadow
{
  opacity:0.6;
}

.widget .duration
{
  position:absolute;
  top:20px;
  right:20px;
  opacity:1;
  background:rgba(0,0,0,.6);
  border-radius: 3px;
  padding: .4em .6em .4em;
  font-size: 77%;
}

.widget .caption
{
  position:absolute;
  
  width:100%;
  padding:20px;
  bottom:0px;
  left:0;
  opacity:0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.widget .caption-top
{
  position:absolute;
  
  padding-top:20px;
  padding-left:20px;
  top:0px;
  left:0;
  opacity:0;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.widget:hover .caption-top
{
  opacity:1;
}

/* TAG COLOURS */

.tag
{
  margin-right: 5px;
}

.Action
{
  background-color: #F42265;
}

.Romance
{
  background-color: #f8c433;
}

.Amateur
{
  background-color:#03C9A9;
}

.Teen
{
  background-color:#FF4989;
}

.Asian
{
  background-color: #ff2a68;
}

.Anal
{
  background-color: #ff5e3a;
}


.widget .caption h4
{
  font-weight: 700;
  font-size:1.1em;
  color:#fff;
  line-height: 1.2em;
  margin-bottom: 6px;
}

.widget .caption p
{
  margin-top: 0px;
  margin-bottom: 0px;
  color: #fff;
  opacity: 0.7;
  font-family: helvetica neue;
  font-weight: 500;
  font-size: 13px;
}



/* INPOST PAGE STYLES */

.video-player-wrapper
{
  padding-top:30px;
  padding-bottom:40px;
}


.post-info
{
  z-index:998;
  color:#fff;
  margin-top:-5px;
  margin-bottom:50px;
}

.post-info h1
{
  font-size: 1.3em;
  color: #fff;
  line-height: 1.2em;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom:12px;
}

.post-info h5
{
  margin-top:0px;
  margin-bottom:15px;
  color:#707070;
}



.post-info .affiliate
{
  color: #FF690D;
  line-height: 18px;
}

.post-info .affiliate:hover
{
  text-decoration: none;
  background:transparent;
}

.jwplayer
{
  z-index: 999;
}

.post-box
{
  background:#202028;
  padding:20px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.post-box .btn
{
  background: #383B46;
  padding: 8px 13px;
  color: #fff;
  font-size: 1.2em;
  margin-right:4px;
}

.post-box .btn:nth-child(4)
{
   margin-right:0px;
}

.hidden
{
  position:absolute;
  top:-9999px;
  left:-9999px;
}

.img-shadow-inpost
{
  background-image: -webkit-linear-gradient(-90deg,rgba(18,19,20,.1) 0,#121314 100%);
  background-image: -moz-linear-gradient(-90deg,rgba(18,19,20,.1) 0,#121314 100%);
  background-image: linear-gradient(180deg,rgba(18,19,20,.1) 0,#121314 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}


/* PAGINATION STYLING */

.pagination
{
  width:100%;
  margin:70px 0px;
}

.digg_pagination a:visited
{
  color:#c7c7c8;
}

.digg_pagination {
  cursor: default;
  text-align: center;
}

.digg_pagination > *
{
  padding:20px 25px;
  background:#262830;
  border-radius: 3px;
  font-size:16px;
  font-weight:bold;
  color:#fff;
}

.digg_pagination .current
{
  background:#1d62f0;
  font-style: normal;
}

.digg_pagination a:hover
{
  background:#2E313D;
  color:#fff;
}

.digg_pagination .disabled
{
  display:none;
}


.digg_pagination .next_page
{
  background:#1d62f0;
  color:#fff !important;
}

.digg_pagination .next_page:hover
{
  background:#0892FF;
}

