 @import "bootstrap";

html {
	-webkit-font-smoothing: antialiased;
}


body
{
	background:#0B0B0B;
	padding-top:72px;
}

.navbar-default
{
	background-color: rgba(15,16,18,0.8);
	border:none;
	box-shadow: none;
}

.navbar .icon
{
	font-size: 14px;
  margin-right: 7px;
}

.navbar-nav > li > a {
  padding-top: 21px;
  padding-bottom: 17px;
  font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.navbar-default .navbar-nav > li > a
{
	color:#fff;
	opacity:0.75;
}

.navbar-default .navbar-nav > li > a:hover
{
	opacity:1;
	color:#fff;
	background-color:rgba(255,255,255,.05);
}


.navbar-brand {
  float: left;
  padding: 18px 18px;
  font-size: 18px;
  line-height: 20px;
  height: 58px;
}



/* FEATURED IMAGE STYLES */

.featured-wrapper
{
  margin-top:-72px;
  position: relative;
  padding:150px 0px 78px;
}

.featured-image-container
{
  background-repeat: no-repeat;
  background-size: 100%;
  opacity:0.7;
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:100%;
  z-index: 1;
}

.featured-content
{
  z-index:2;
}

/* END */